<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">
    <group>
        <item android:id="@+id/second"
            android:icon="@android:drawable/ic_media_play"
            android:title="Second Activity"
            app:showAsAction="ifRoom"
            />
        <item android:id="@+id/third"
            android:icon="@android:drawable/ic_menu_camera"
            android:title="Third Activity"
            />
    </group>

</menu>